body{
  font-family: 'Megrim', cursive;
  font-
  background-image: url("DeathlyHallowsBackgrounf.jpg ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  
  background-repeat: repeat-y;
  color:steelblue;
}